@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular.ttf')
}

body {
    background-color: #870CFF;
}

.msgCadastro {
    color: white;
    margin-left: 37%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


.div-titulo {
    width: 100%;    
    height: 20px;
    text-align: center;
    font-family: 'Roboto';
}

.h1-cadastro {
    color: #ffff;
    font-family: 'Roboto';
    font-size: 500%;
    margin-top: 2%;
    font-weight: bold;
}

.inputgran {
    width: 48%;
    height: 50px;
    margin-left: 26%;
    font-size: 22px;
}

.h2 {
    color: #ffff;
    margin-left: 26.7%;
    font-family: 'Roboto';
    font-weight: bold;
}

#h2-info {
    margin-top: 6%;
}

#h2-login {
    margin-top: 3%;
}

#h2-endereco {
    margin-top: 3%;
}

#h2-contato {
    margin-top: 3%;
}

.labelgran {
    color: #ffff;
    margin-left: 26.7%;
    margin-top: 1.5%;
    font-size: 160%;
    font-family: 'Roboto';
}

.inputpeqpri {
    margin-left: 26%;
}

.inputpeq {
    width: 22.5%;
    height: 50px;
}

.inputpeqseg {
    margin-left: 3%;
}

.labelpeq {
    color: #ffff;
    font-size: 160%;
    font-family: 'Roboto';
    margin-top: 1.7%;
}

.labelpri {
    margin-left: 26.7%;
}

#label-numero {
    margin-left: 23.7%;
}

#label-cidade {
    margin-left: 22.2%;
}

#label-confSenha {
    margin-left: 22.4%;
}

#label-cpf {
    margin-left: 24%;
}

#label-telefone {
    margin-left: 22.3%;
}

.termo {
    color: #ffff;
    margin-left: 26%;
    margin-top: 2%;
}

.termo label {
    font-family: 'roboto';
    font-size: 20px;
}

.botaoCadastra {
    width: 14%;
    height: 47px;
    margin-bottom: 3%;
    background: #BD79FF;
    border-radius: 30px;
    border: none;
    margin-left: 35%;
    color: #ffff;
    font-family: 'Roboto';
    font-size: 250%;
    /* margin-top: 2%; */
}

.botaoCadastra:hover {
    background-color: #3E0179;
}

.botaoVoltar {
    width: 14%;
    height: 47px;
    margin-bottom: 3%;
    background: #BD79FF;
    border-radius: 30px;
    border: none;
    margin-left: 2%;
    color: #ffff;
    font-family: 'Roboto';
    font-size: 250%;
    margin-top: 2%;
}

.botaoVoltar:hover {
    background-color: #3E0179;
}

input {
    font-size: 210%;
    border: none;
    border-radius: 30px;
    padding-left: 1%;
}