@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular.ttf')
}

header.header {
    background-color: white;
    padding: 0px 15px;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: var(--shadow);
    padding-top: 0.8%;
    position: relative;
}

header.header h1 {
    font-size: 1.8em;
}
