@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular.ttf')
}

#botaoUsuario {
    position: absolute;
    width: 121px;
    height: 34px;
    left: 1144px;
    top: 15px;
    opacity: 100%;
    background-color: #870CFF; 

    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 40px;
}

.imagen {
    position: relative;
    width: 213px;
    height: 187px;
    border: 1px solid black;
    box-sizing: border-box;
    background-color: #979797;
    font-size: 1380%;
    padding-left: 5%;
    padding-right: 5.5%;
    padding-top: 0.1%;
    padding-bottom: 6%;
}

.descricao {
    width: 30%;

    line-height: 33px;
    align-items: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 180%; 

    color: #000000;

    /* border: 1px solid black;
    box-sizing: border-box; */

}



#idDescrip {
    margin-top: 2%;
}

.buttonPrestador {
    border-radius: 30px;
    border: none;
    color: #FFFFFF;
    background-color: #870CFF;
    width: 10%;
    height: 35px;
    margin: 1% 0% 2% 0%;
    font-size: 200%;
}

.buttonPrestador:hover {
    background-color: #3E0179;
}

#editar {
    margin-left: 78.5%;
}

#salvar {
    margin-left: 1%;
}


.inputNomePrestador {
    width: 89.5%;   
}

.inputIdadePrestador {
    width: 89.9%;
}

.inputEstadoPrestador {
    width: 88.9%;
}

.inputCidadePrestador {
    width: 81.8%;
}

#inputTelefonePrestador {
    width: 9.8%;
}

#telefone {
    width: 71%;
}

#tipo_servico {
    width: 80.5%;
}

.inputEmailPrestador {
    width: 89.4%;
}


.inputPestador{
    height: 26px;
    font-size: 20px;
    margin-left: 1%;
    border-radius: 0;
    background-color: #ececee;
    /* border: 1px solid black;
    box-sizing: border-box; */
    border: none;
}


.inputFormacao {
    width: 85.5%;    
    font-size: 190%;
}

.inputProfissaoPrestador {
    width: 86.9%;
}

.inputValorServicoPrestador {
    width: 78.6%;
}

.inputSemBorda {
    height: 26px;
    font-size: 20px;
    margin-left: 1%;
    border: none;

}
#denunciar {
    width: 12%;
    background-color: red;
    margin-left: 55.3%;
}

#contato {
    width: 18%;
    margin-left: 1%;
}

#contratar {
    width: 12%;
    margin-left: 1%;
}

.descricapoServico {
    font-size: 20px;
    font-family: 'Roboto';
    margin-top: 1%;
    width: 100%;
}

#valor {
    width: 69.6%;
    
}

#email {
    width: 83.6%;
}

#cidade {
    width: 82.7%;
}

#estado {
    width: 82.8%;
}

#nome {
    width: 83.5%;   
}

.msgPerfilPrestador {
    color: green
}

.div-comentarios {
    margin-bottom: 3%;
    margin-top: 2%;
    padding: 1%;
}

.comentarioAvaliativo {
    color:black
}

.nomeLogin {
    font-size: 160%;
}