@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Regular.ttf')
}

main > div {
    background-color: #fff;
    box-shadow: 0px 0px 15px #0004;
    align-items: center;
}

.divPesquisa {
    background-color: #870CFF;
}

/* .divsec {
    margin-left: 23%;
} */

.inputPesquisa {
    font-size: 20px;
    width: 50%;
    height: 40px;
    border-radius: 80px;
    text-align: center;
    margin-bottom: 1%;
    margin-left: 18%
}

.pesquisar {
    font-size: 20px;
    background-color: #870CFF;
    border: none;
    width: 15%;
    text-align: left
}

.pesquisar:hover{
    color: #fff;
}

input:focus, button:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

span {
    max-width: 16%;

        /* border: 1px solid black;
    box-sizing: border-box; */
}