aside.menu-area {
  background-color: var(--bg-dark);
  box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.12), 2px 0 15px 0 rgba(0, 0, 0, 0.09);
}

#logout {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  text-align: left;
  font-weight: 300;
  padding: 10px;
  padding-left: 50px;
}

#logout:hover {
  color: #3e0179;
  cursor: default;
}

#perfil {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  text-align: left;
  font-weight: 300;
  padding: 10px;
  padding-left: 50px;
}

#perfil:hover {
  color: #3e0179;
  cursor: default;
}


#span-logout {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  text-align: left;
  font-weight: 300;
  font-family: "Roboto";
}


.menu  {
  display: block;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  text-align: left;
  font-weight: 300;
  position: fixed;
  /* padding: 10px;
  padding-left: 50px; */
}

/* .menu:hover {
  background-color: #3e0179;
} */

.lg {
  height: 8.8%;
  text-align: center;
  align-items: center;
  font-size: 30px;
  /* position: fix; */
}

.posi {
  position: fixed;
}

#nomePrestador {
  height: 20px;
}

.t {
  display: block;
  text-decoration: none;
  background-color: var(--bg-dark);
  border: none;
  color: #fff;
  font-size: 20px;
  text-align: left;
  font-weight: 300;
  width: 100%;
  padding: 10px;
  padding-left: 50px;
  margin-top: 1%;
}

#navHome {
  margin-top: 6%;
}

.t:hover {
  color: #3e0179;
}