.quadro {
    box-shadow: 0px 0px 15px #0004;
    align-items: center;
    background-color: #ececec;
    /* background-color: #ffffff; */
}

.label-pesquisado {
    font-size: 40%;
}

#fotoLocal {
    width: 22%;
}

.labels {
    font-size: 18px;
}

#foto {
    background-color: #ececec;
    height: 100%;
}

.inputVi {
    width: 2px;
    height: 20px;
    font-size: 18px;
    border-radius: 0px;
}

#nomePesquisado {
    width: 74%;
    height: 35%;
    margin-left: 2%;
}

#profissaoPesquisado {
    width: 65%;
    height: 35%;
    margin-left: 2%;
    margin-bottom: 5%;
}

#estadoPesquisado {
    width: 67%;
    height: 35%;
    margin-left: 2%;
}

#cidadePesquisado {
    width: 65%;
    height: 35%;
    margin-left: 2%;
}

#botaoVi {
    font-size: 50%;
    border-radius: 30px;
    border: none;
    background-color: #870CFF;
    height: 28.5%;
    color: #ffffff;
    width: 90%;
}

#botaoVi:hover {
    background-color: #3E0179;
}

.userImage {
    margin-left: 2%;
    font-size: 180%;
}

#informacao {
    width: 50%;
}
