<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/paginaContratacao.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <button id="botaoUsuario">Usuario</button>
    </header>
    <div class="imagen">
        imagem de perfil
        <img src="" alt="">
    </div>
    <div class="descricao">
        <div>
            <p>Nome:</p><br>
            <p>Estado:</p><br>
            <p>Email:</p><br>
            <p>Profissão:</p><br>
            <p>Valor de Serviço:</p><br>
            <p>Formações</p><br>
        </div>
    </div>
    <div class="posicaoDescricao">
        <!-- <p class="textDescricao">Descrição</p> -->
        <textarea disabled="true" name="descricaoServico" id="descricaoServico" cols="300" rows="10" class="descricaoServico"></textarea>
    </div>
    <div class="botoes">
        <button class="botaoEditar">Solicitar Contratação</button>
        <!-- <button class="botaoSalvar">Salvar</button> -->
    </div>
    <!-- <footer class="footer"></footer> -->
</body>
</html>