<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/perfilUsuarioEmpreendedor.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <button id="botaoUsuario">Usuario</button>
    </header>
    <div class="imagen">
        imagem de perfil
        <img src="" alt="">
    </div>
    <div class="descricao">
        <div>
            <p>Nome:</p><br>
            <p>Estado:</p><br>
            <p>Cidade:</p><br>
            <p>Rua:</p><br>
            <p>Numero:</p><br>
            <p>Complemento:</p><br>
            <p>Telefone:</p><br>
            <p>Email:</p><br>
        </div>
    </div>
    <div class="posicaoDescricao">
        <p class="textDescricao">Descrição</p>
        <textarea name="descricaoServico" id="descricaoServico" cols="300" rows="10" class="descricaoServico"></textarea>
    </div>
    <div class="botoes">
        <button class="botaoEditar">Editar</button>
        <button class="botaoSalvar">Salvar</button>
    </div>
    <!-- <footer class="footer"></footer> -->
</body>
</html>